name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  test:
    name: flutter build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.12.2"
      - run: flutter pub get
      - run: flutter format --set-exit-if-changed .
      - run: flutter analyze
      # TODO: enable when tests are in place
      # - run: flutter test
