name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: release apk
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "2.10.4"
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter build apk --release
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk"
